.country-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .country-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 390px) {
  .country-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
