.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

.main {
  box-sizing: border-box;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 40px 16px;
}

.logo {
  font-size: 20px;
}
