html,
body {
  margin: 0;
  background-color: rgb(245, 245, 245);
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
